.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -50px;
}
.loginBox {
  width: 350px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 3px rgba(118, 118, 118, 0.39);
}
.loginTitle {
  text-align: center;
  margin-bottom: 20px;
}
.subText {
  margin-top: 10px;
  font-size: 14px;
  display: block;
}
.link {
  text-decoration: none;
}
