.input {
  height: 35px;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid gray;
  width: calc(100% - 20px);
  padding: 0px 10px;
}
.label {
  margin-bottom: 5px;
  font-size: 14px;
}
.error {
  color: red;
  height: 18px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.inputBox {
  margin: 5px 0;
}

.top {
  top: -9px !important;
  font-size: 14px;
  background-color: white;
}
