$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  align-items: center;
  display: flex;
}

.form__field {
  border: 2px solid $gray;
  font-size: 16px;
  color: black;
  padding: 0 5px;
  width: calc(100% - 10px);
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  background: transparent;
  transition: border-color 0.2s;
  border-radius: 5px;

  w &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: -10px;
  }
}

.form__label {
  position: absolute;
  top: 7px;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: $gray;
  left: 5px;
  background: white;
  padding: 0 3px;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: -12px;
    left: 5px;
    display: block;
    transition: 0.2s;
    font-size: 16px;
    color: $primary;
  }
  border-width: 2px;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
