.box {
  box-shadow: 1px 1px 5px 2px rgba(139, 139, 139, 0.29);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}
.img {
  width: 75px;
  height: 75px;
}
.priceSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 350;
  height: 75px;
  font-size: 20px;
}
.noPadding {
  padding: 0;
  margin: 0;
}
.actionSection {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 75px;
}

.button {
  box-shadow: none;
  border: 1px solid #9d174d;
  height: 30px;
  padding: 0 7px;
  border-radius: 5px;
  background: white;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9d174d;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.title {
  font-size: 18px;
  font-weight: 600;
}
.price {
  font-size: 18px;
  font-weight: 600;
}
.totalPrice {
  font-size: 24px;
}
