.box {
  box-shadow: 1px 1px 5px 2px rgba(139, 139, 139, 0.29);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.item {
  font-size: 18px;
  margin-right: 5px;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.isActive {
  background: gray;
}
.lastItem {
  font-size: 21px;
  font-weight: 600;
}
