.image {
  width: 100%;
  border-radius: 5px;
  height: 300px;
  object-fit: cover;
}
.endImage {
  width: 100%;
  border-radius: 5px;
  height: 500px;
  object-fit: cover;
}
.title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
}
.more {
  display: flex;
  align-items: center;
  justify-content: right;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0;
}
