.product {
  border-radius: 5px;
  box-shadow: 0px 2px 7px 1px rgba(102, 102, 102, 0.31);
  padding: 15px;
  margin: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 20px;
}
.price {
  font-size: 19px;
  font-weight: 600;
  width: 50%;
  min-width: 50%;
  text-align: left;
  margin-bottom: 0;
}

.image {
  width: 190px;
  height: 190px;
  object-fit: cover;
}
.body {
  margin: 10px 0;
}
.boxPrice {
  display: flex;
  align-items: center;
}
.buy {
  width: 50%;
  min-width: 50%;
}

.support {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}
.item {
  padding: 10px;
}
.odd {
  background: rgba(128, 128, 128, 0.6);
  border-radius: 5px;
}
.link {
  height: 35px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  background-color: #008e73;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
