.mainNavigation {
  height: 70px;
  background-color: white;
  box-shadow: 0px -2px 5px 2px rgba(0, 0, 0, 0.2);
}
.nav {
  height: 70px;
}
.link {
}

.item {
  margin-right: 20px;
  font-weight: 600;
}
.navigationBtn {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}
.navigationBtn:hover,
.navigationBtn:active,
.navigationBtn:checked,
.navigationBtn:focus {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  color: black;
}

.btn {
  background: transparent !important;
  color: black;
  border: none;
}
.btn:hover {
  background: transparent !important;
  color: black;
  border: none;
}
.badge {
  border-radius: 50%;
  position: relative;
  top: -10px;
  width: 22px;
  height: 22px;
  text-align: center;
}
