.box {
  box-shadow: 1px 1px 5px 2px rgba(139, 139, 139, 0.29);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
.title {
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
}

.isActive {
  background: #9d174d;
  color: white;
}
.lastItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px;
}
