* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
  color: inherit !important;
  font-size: inherit !important;
}

.custom-drop {
  background: transparent !important;
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}
